:root {
  --primary-color: #f0384d;
}

.header {
  /* background-color: #666; */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 20% 60% 20%;
  justify-items: center;
}

#our-logo {
  height: 12vh;
  width: 15vh;
}

/* button {
  background-color: var(--primary-color);
  border-radius: 9px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  padding: 3px 4px;
} */
.btn {
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid var(--primary-color);
  display: inline-block;
  cursor: pointer;
  color: #f51e1e;
  font-family: Arial;
  font-size: 15px;
  padding: 5px 15px;
  text-decoration: none;
  /* text-shadow: 0px 1px 0px #854629; */
}

.btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.btn:active {
  position: relative;
  top: 1px;
}

hr {
  display: block;
  max-width: 99%;
  height: 2px;
  border-top: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.video-container {}

iframe {
  margin: 5% 5% 5% 5%;
  margin-top: 10px;
  width: 90%;
  height: 90%;
}

#data {
  max-width: 95%;
  margin-left: 2.5%
}

.pdficon {
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

.edit-homework {
  max-width: 90%;
  margin-left: 5%
}
