:root {
  --primary-color: #f7465a;
}

#arrow {
  margin-left: 60px;
  width: 20px;
  height: 20px;
}

button {
  background-color: var(--primary-color);
  border-radius: 9px;
  color: #363033;
  border: 1px solid #6a6060;
  font-size: 18px;
  padding: 3px 5px;
}

hr {
  display: block;
  max-width: 99%;
  height: 2px;
  border: 1;
  border-top: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}

.toggle_btns span {
  display: block;
  width: 40px;
  height: 10px;
  background: var(--primary-color);
  margin: 5px 0px;
}

.sidebar-brand .toggle_btns {
  position: absolute;
  left: 20px;
}

.header {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 15% 65% 20%;
  justify-items: center;
}

#main-logo {
  display: grid;
  justify-content: center;
}

#main-logo img {
  height: 10vh;
  width: 10vh;
}

.pdficon {
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

.content {
  display: grid;
  grid-template-rows: 8fr 1fr 3fr 1fr 3fr;
  grid-row-gap: 1%;
}

.video-container {}

iframe {
  margin: 5% 5% 5% 5%;
  margin-top: 10px;
  width: 90%;
  height: 90%;
}

#data{
  max-width: 95%;
  margin-left: 2.5%
}
.edit-homework {
  max-width: 90%;
  margin-left: 5%
}
