:root {
  --primary-color: #f7465a;
}


.subject{
    display: flex;
    font-size: 48px;
    margin: 0 auto;
    justify-content: center;
}

#video-container{
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}
iframe{
  height: 40vh;
  width: 80vh;

}
.homework {
      margin-top: 6%;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      color: blue;
}
.pdficon {

    width: 50px;
    height: 50px;
    padding-left: 10px;
}
#main-logo{
height: 100px;
width: 100px;

}

hr{
  display: block;
      height: 1px;
      border: 0;
      border-top: 2px solid var(--primary-color);
      margin: 1em 0;
      padding: 0;
      background-color: var(--primary-color);

}
