<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="shortcut icon" type='image/png' href="../../public/assests/logo.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1" content="user-scalable=no" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../../public/styles/loginPage.css" />
  <meta http-equiv="X-UA-compatible" content="ie-edge" />
  <meta name="description" content="Assisted" />
  <meta name="keywords" content="Assisted" />
  <meta name="author" content="Karam Ashqar, Shadi Rayan, Tamer Nasser, Majd Yaqoub" />
  <title>AssistED</title>
</head>

<body>
  <div class="header">
    <img src="../../public/assests/logo.png" alt="Assited Logo" />
  </div>

  <div class="login--container">
    <h3>Sign in</h3>

    <form>

      <input required type="text" name="username" placeholder="Username" value="" id="username"/>
      <label for="username">Username</label>

      <input required type="password" name="password" placeholder="Password" value="" id="password" />
      <label for="password">Password</label>

      <button id="signIn" type="submit" name="logIn">Log in</button>

    </form>

  </div>
  <div class="blank" />
<script type="text/javascript" src="../../public/scripts/loginPage.js"></script>

</body>

</html>
