<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="shortcut icon" type='image/png' href="../../public/assests/logo.png"/>
  <link rel="stylesheet" type="text/css" href="../../public/styles/studentPage.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-compatible" content="ie-edge" />
  <meta name="description" content="Assisted" />
  <meta name="keywords" content="Assisted" />
  <meta
     name="author"
     content="Karam Ashqar, Shadi Rayan, Tamer Nasser, Majd Yaqoub"
   />
    <title>AssistED</title>

  </head>
  <body >
    <div id="sidebar">
    	<div class="toggle_btns" onclick="mytoggle()">
    		<span></span>
    		<span></span>
    		<span></span>
    	</div>
    	<ul>
    	      <li><a href="">Functions</a></li>
              <li><a href="">Integral</a></li>
              <li><a href="">Derivative</a></li>
              <li><a href="">Vectors</a></li>
              <li><a href="">Complex Numbers</a></li>
              <li><a href="">Trigo Shapes</a></li>
              <li><a href="">Trigo functions</a></li>
              <li><a href="">Exams2016</a></li>
              <li><a href="">Exams2017</a></li>
              <li><a href="">Exams2018</a></li>
    	</ul>
    </div>
    <div id="main-logo">
  <img src="../../public/assests/logo.png" id="logo">
  </div>


    <hr>
  <h1 class="subject">Subject Name</h1>
<div id="video-container">
    <iframe  src="https://www.youtube.com/embed/ogqpqnx38uc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
</div>
<div class="homework">
<p>Download homework</p>
<img class="pdficon" width="100%" src="../../public/assests/pdficon.png" alt="pdf logo">
</div>
<hr>
<div id="about-the-subject">
<p>  A function is a rule which relates the values of one variable quantity to the values of another variable quantity, and does so in such a way that the value of the second variable quantity is uniquely determined by (i.e. is a function of) the value of the first variable quantity.</p>

  </div>

  <script type="text/javascript">
    function mytoggle(){
      window.onload=size;

      function size(){
        if (window.innerWidth<1050){
            document.getElementById("logo").src="../../public/assests/minilogo.png";

}
      }
  document.getElementById("sidebar").classList.toggle('active');
  }

  function navbar(){
if (window.innerWidth>1199){
mytoggle();
}
}
navbar();
  </script>
  </body>
  </html>
