<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link rel="shortcut icon" type='image/png' href="../../public/assests/logo.png"/>
  <link rel="stylesheet" type="text/css" href="../../public/styles/studentPage.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-compatible" content="ie-edge" />
  <meta name="description" content="Assisted" />
  <meta name="keywords" content="Assisted" />
  <meta
     name="author"
     content="Karam Ashqar, Shadi Rayan, Tamer Nasser, Majd Yaqoub"
   />
    <title>AssistED</title>
  </head>
  <body>
  <h1 class="title">Functions</h1>
  </body>
</html>
