<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" type="image/png" href="../../public/assests/logo.png" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      content="user-scalable=no"
    />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../public/styles/subjectsPage.css" />
    <meta http-equiv="X-UA-compatible" content="ie-edge" />
    <meta name="description" content="Assisted" />
    <meta name="keywords" content="Assisted" />
    <meta name="author" content="Karam Ashqar, Shadi Rayan, Tamer Nasser, Majd Yaqoub" />
    <title>AssistED</title>
  </head>
  <body style="display:none;">
    <div class="header"><img src="../../public/assests/logo.png" alt="Assited Logo" /></div>

    <hr />
    <div class="search--container">
      <h3>Subjects</h3>

      <button type="button" id="signout" name="button">Sign out</button>

      <label for="units">Choose a unit</label>

      <select name="units">
        <option selected disabled value="def">Choose a unit</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <hr />

    <div class="subjects--container">
      <button class="item">Math</button>

      <button class="item">Chemistry</button>

      <button class="item">English</button>

      <button class="item">Hebrew</button>

      <button class="item">History</button>

      <button class="item">item</button>

      <button class="item">item</button>

      <button class="item">item</button>
    </div>
    <script type="text/javascript" src="../../public/scripts/subjectsPage.js"></script>
  </body>
</html>
