<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" type="image/png" href="../../public/assests/logo.png" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      content="user-scalable=no"
    />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../public/styles/subjectsPage.css" />
    <meta http-equiv="X-UA-compatible" content="ie-edge" />
    <meta name="description" content="Assisted" />
    <meta name="keywords" content="Assisted" />
    <meta name="author" content="Karam Ashqar, Shadi Rayan, Tamer Nasser, Majd Yaqoub" />
    <title>AssistED</title>
  </head>
  <body>
    <div class="header"><img src="../../public/assests/logo.png" alt="Assited Logo" /></div>

    <hr />
    <div class="search--container">
      <h3>Subjects</h3>
      <label for="units">Choose a unit</label>

      <select name="units">
        <option selected disabled value="def">Choose a unit</option>
        <option value="math">Mathmatics</option>
        <option value="chemistry">Chemistry</option>
        <option value="english">English</option>
        <option value="history">History</option>
      </select>

         <form>

       <label for="search">Search for subject</label>
      <input required type="text" name="search" value="" />

       <button type="submit" name="button">Search</button>
    </form>

    </div>
    <hr>

    <div class="subjects--container">
      <div class="item" style="border:1px black solid; padding:10px;">
      Math
      </div>

      <div class="item" style="border:1px black solid; padding:10px;">
      Chemistry
      </div>

      <div class="item" style="border:1px black solid; padding:10px;">
      English
      </div>

      <div class="item" style="border:1px black solid; padding:10px;">
      Hebrew
      </div>

      <div class="item" style="border:1px black solid; padding:10px;">
      History
      </div>

      <div class="item" style="border:1px black solid; padding:10px;">
      item
      </div>

      <div class="item" style="border:1px black solid; padding:10px;">
      item
      </div>

      <div class="item" style="border:1px black solid; padding:10px;">
      item
      </div>

    </div>
  </body>
</html>
