<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="shortcut icon" type="image/png" href="../../public/assests/logo.png" />
  <link rel="stylesheet" type="text/css" href="../../public/styles/teacherPage.css" />
  <link rel="stylesheet" type="text/css" href="../../public/styles/elemnts.css" />
  <link rel="stylesheet" type="text/css" href="../../public/styles/sidebar.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-compatible" content="ie-edge" />
  <meta name="description" content="Assisted" />
  <meta name="keywords" content="Assisted" />
  <meta name="author" content="Karam Ashqar, Shadi Rayan, Tamer Nasser, Majd Yaqoub" />
  <title>AssistED</title>
</head>

<body>

  <div id="wrapper" class="active">
    <div id="sidebar-wrapper">
      <div id="sidebar_menu sidebar" class="sidebar-nav">
        <div class="toggle_btns" onclick="mytoggle()">
          <li class="sidebar-brand">
            <span></span> <span></span> <span></span>
            <a id="menu-toggle" href="#">Menu </a>
          </li>
        </div>
      </div>

      <ul class="sidebar-nav" id="subSubjects">
        <li><a href="">Functions</a></li>
        <li><a href="">hahahaha</a></li>
        <li><a href="">Integral</a></li>
        <li><a href="">Derivative</a></li>
        <li><a href="">Vectors</a></li>
        <li><a href="">Complex Numbers</a></li>
        <li><a href="">Trigo Shapes</a></li>
        <li><a href="">Trigo functions</a></li>
        <li><a href="">Exams2016</a></li>
        <li><a href="">Exams2017</a></li>
        <li><a href="">Exams2018</a></li>
      </ul>
    </div>



    <!-- Page content -->
    <div id="page-content-wrapper">
      <!-- Keep all page content within the page-content inset div! -->
      <div class="page-content inset">

        <div class="header">
          <h1 class="subject">Subject Name</h1>
          <div id="main-logo"><img src="../../public/assests/logo.png" id="logo" /></div>
        </div>
        <hr />

        <div id="video-container">
          <iframe src="https://www.youtube.com/embed/ogqpqnx38uc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>

        <hr />
        <div id="data">
          <p>
            A function is a rule which relates the values of one variable quantity to the values of another variable quantity, and does so in such a way that the value of the second variable quantity is uniquely determined by (i.e. is a function of)
            the value of
            the first variable quantity.
          </p>
        </div>
        <hr />
        <div class="edit-homework">
          <ol>
            <li>
              <a href="#">Sample homework1</a> <button type="button" name="Edit">Edit</button>
              <button type="button" name="Print">Print</button>
            </li>
            <li>
              <a href="#">Sample homework2</a> <button type="button" name="Edit">Edit</button>
              <button type="button" name="Print">Print</button>
            </li>
            <li>
              <a href="#">Sample homework3</a> <button type="button" name="Edit">Edit</button>
              <button type="button" name="Print">Print</button>
            </li>
          </ol>
        </div>

      </div>
    </div>
  </div>

  <script src="../../public/scripts/teacherPage.js"></script>
</body>

</html>
